@font-face {

    font-family: 'Matiz';
    src: url( ../fonts/Matiz.ttf ) format( 'truetype' ) ;

}

h1 {

    font-family: 'Matiz' ;

}


.contact-info {
    
    display: flex ;
    
}

#github-school, #gitlab-school, #email-school {

    border-radius: 50% ;

}

#github-school:hover, #gitlab-school:hover, #email-school:hover {
    
    opacity: .5 ;
    
}