@font-face {

    font-family: 'Matiz';
    src: url( ../fonts/Matiz.ttf ) format( 'truetype' ) ;

}

.contact-info-link {

    display: flex ;
    justify-content: space-around ;
    margin-top: 62vh;

}

#github-school, #gitlab-school, #email-school {

    border-radius: 50% ;

}

#github-school:hover, #gitlab-school:hover, #email-school:hover {
    
    opacity: .5 ;
    
}

#about-me-h1 span, #about-me-p span {
    
    position: relative ;
    display: block ;
    overflow: hidden ;
    line-height: 1.2 ;
    
}

#about-me-h1 {

    font-family: 'Matiz';
    font-size: 30px ;

}

#about-me-p {

    text-indent: 5%;
    font-size: 25px;

}

@keyframes block-before {

    0% {
        
        transform: translateX( 0 )
    
    }
    
    100% {
        
        transform: translateX( 200% )
        
    }
    
}

@keyframes block-after {

    0% {
        
        transform: translateX( -100% )
    
    }
    
    100% {
        
        transform: translateX( 101% )
    
    }

}

#about-me-h1 span::before, #about-me-p span::before {

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: block-before 2s cubic-bezier( .77,0,.18,1 ) forwards ;
    transform: translateX( 0 ) ;

}

#about-me-h1 span::after, #about-me-p span::after {

    top: 0 ;
    right: 0 ;
    width: 100% ;
    height: 100% ;
    background: white ;
    animation: block-after 2s cubic-bezier( .77,0,.18,1 ) forwards ;
    transform: translateX( -101% ) ;

}

#about-me-p span::before {

    animation-delay: 0.5s;

}